* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 0.14rem;
  font-family: '微软雅黑';
}
a {
  color: #ccc;
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  border: 0;
  outline: 0;
}
img {
  vertical-align: middle;
}
.bb {
  border-top: 1px solid #ccc;
}
.br {
  border-right: 1px solid #ccc;
}
.bl {
  border-left: 1px solid #ccc;
}
.bt {
  border-bottom: 1px solid #ccc;
}
html {
  font-size: 13.33333vw;
}
#header {
  display: flex;
  background-color: #ccc;
}
#header .icon-back {
  width: .8rem;
  height: .9rem;
  background-image: url(../images/sprites.png);
  background-size: 4rem 4rem;
  background-position: -0.4rem 0;
  padding: .25rem .2rem;
  background-origin: content-box;
  background-clip: content-box;
}
#header form {
  flex: 1;
  position: relative;
  padding: .1rem 0;
}
#header form .icon-search {
  width: .4rem;
  height: .4rem;
  position: absolute;
  left: .2rem;
  top: 0.25rem;
  background-image: url(../images/sprites.png);
  background-size: 4rem 4rem;
  background-position: -1.2rem -2.2rem;
}
#header form input {
  width: 5.9rem;
  height: .7rem;
  border-radius: .35rem;
  padding-left: .6rem;
  font-size: .28rem;
}
#header .icon-menu {
  width: .8rem;
  height: .9rem;
  background-image: url(../images/sprites.png);
  background-size: 4rem 4rem;
  background-position: -1.2rem 0;
  padding: .25rem .2rem;
  background-origin: content-box;
  background-clip: content-box;
}
